name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    - cron: '0 0 * * *' #每天晚上0点执行
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          # 是否显示项目名称，默认显示
          SHOW_PROJECTS: "False"
